//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "./core/layout/base/layout";
@import "layout/layout";

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  *::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 1rem;
    height: 0.5rem;
  }

  *::-webkit-scrollbar-track {
    border-radius: 1rem;
  }

  *::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 1rem;
    transition: 1s;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e;
  }
}

/* firfox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.05) transparent;
  }
}
